<div class="purchase-contianer mat-elevation-z8">
  <div class="top-banner-row">
    <div class="top-banner-cell">
      <mat-card>
        <div class="grid-container">
          <div>
            Vou No.:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Supplier:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Inv Amt:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Disc%:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Pay Mode:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>


          <div>
            Date:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Inv No.:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Inv Date:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Disc Amt:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Disc Amt:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>

        </div>
      </mat-card>
    </div>
  </div>

  <div class="table">
    <div class="purchase-table-container">
      <mat-table id="{{tabid}}_view" [dataSource]="dataSource">
        <ng-container matColumnDef="slNo">
          <mat-header-cell *matHeaderCellDef> Sl No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.SerialNumber}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="code">
          <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input autofocus (keyup.enter)="openProducts()" class="item-input" matInput
              [value]="element !== undefined &&  element.ProductCode"
              [(ngModel)]="element !== undefined && element.ProductCode">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="productName">
          <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="openProducts()" class="item-input" matInput
              [value]="element !== undefined && element.ProductName"
              [(ngModel)]="element !== undefined && element.ProductName">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="unit">
          <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.unit" [(ngModel)]="element !== undefined && element.unit">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="qty">
          <mat-header-cell *matHeaderCellDef> Qty </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.qty" [(ngModel)]="element !== undefined && element.qty">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.price" [(ngModel)]="element !== undefined && element.price">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="disc">
          <mat-header-cell *matHeaderCellDef> Disc % </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.disc" [(ngModel)]="element !== undefined && element.disc">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tax">
          <mat-header-cell *matHeaderCellDef> Tax % </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.tax" [(ngModel)]="element !== undefined && element.tax">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="free">
          <mat-header-cell *matHeaderCellDef> Free </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.free" [(ngModel)]="element !== undefined && element.free">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="freeValue">
          <mat-header-cell *matHeaderCellDef> Free Value </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.freeValue"
              [(ngModel)]="element !== undefined && element.freeValue">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="pkgExp">
          <mat-header-cell *matHeaderCellDef> Pkg. Exp </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.pkgExp" [(ngModel)]="element !== undefined && element.pkgExp">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="wastage">
          <mat-header-cell *matHeaderCellDef> Wastage </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.wastage" [(ngModel)]="element !== undefined && element.wastage">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lCostIncl">
          <mat-header-cell *matHeaderCellDef> L.Cost Incl </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.lCostIncl"
              [(ngModel)]="element !== undefined && element.lCostIncl">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mrp">
          <mat-header-cell *matHeaderCellDef> MRP </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.mrp" [(ngModel)]="element !== undefined && element.mrp">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mfpPercentage">
          <mat-header-cell *matHeaderCellDef> MFP % </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.mfpPercentage"
              [(ngModel)]="element !== undefined && element.mfpPercentage">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mfp">
          <mat-header-cell *matHeaderCellDef> MFP </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.mfp" [(ngModel)]="element !== undefined && element.mfp">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ccpPercentage">
          <mat-header-cell *matHeaderCellDef> CCP % </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.ccpPercentage"
              [(ngModel)]="element !== undefined && element.ccpPercentage">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ccp">
          <mat-header-cell *matHeaderCellDef> CCP </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.ccp" [(ngModel)]="element !== undefined && element.ccp">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="wpPercentage">
          <mat-header-cell *matHeaderCellDef> WP % </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.wpPercentage"
              [(ngModel)]="element !== undefined && element.wpPercentage">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="wp">
          <mat-header-cell *matHeaderCellDef> WP </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.wp" [(ngModel)]="element !== undefined && element.wp">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="netAmount">
          <mat-header-cell *matHeaderCellDef> Net Amt </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.netAmount"
              [(ngModel)]="element !== undefined && element.netAmount">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.amount" [(ngModel)]="element !== undefined && element.amount">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tDiscAmt">
          <mat-header-cell *matHeaderCellDef> T. Disc Amt </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.tDiscAmt"
              [(ngModel)]="element !== undefined && element.tDiscAmt">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tTaxAmt">
          <mat-header-cell *matHeaderCellDef> T. Tax Amt </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.tTaxAmt" [(ngModel)]="element !== undefined && element.tTaxAmt">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.location"
              [(ngModel)]="element !== undefined && element.location">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="landingCost">
          <mat-header-cell *matHeaderCellDef> Land Cost </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.landingCost"
              [(ngModel)]="element !== undefined && element.landingCost">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="discAmount">
          <mat-header-cell *matHeaderCellDef> Disc Amt </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.discAmount"
              [(ngModel)]="element !== undefined && element.discAmount">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="taxableAmount">
          <mat-header-cell *matHeaderCellDef> Taxable Amt </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.taxableAmount"
              [(ngModel)]="element !== undefined && element.taxableAmount">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="retAmount">
          <mat-header-cell *matHeaderCellDef> Ret Amt </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.retAmount"
              [(ngModel)]="element !== undefined && element.retAmount">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="order">
          <mat-header-cell *matHeaderCellDef> Order </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.order" [(ngModel)]="element !== undefined && element.order">
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="updateRate">
          <mat-header-cell *matHeaderCellDef> Update Rate </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput
              [value]="element !== undefined && element.updateRate"
              [(ngModel)]="element !== undefined && element.updateRate">
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="bottom-banner-row">
    <div class="bottom-banner-cell">
      <div class="bottom-banner-row2">
        <div class="bottom-banner-column1">
            <mat-card>dfdfdfd</mat-card>
        </div>
        <div class="bottom-banner-column2">
          <mat-card>
            <mat-grid-list cols="5" rowHeight="20px">
              <mat-grid-tile class="rate-card-style" *ngFor="let tile of tiles" [colspan]="tile.cols"
                [rowspan]="tile.rows" [style.font-size]="tile.fontsize">
                <div class="text-inside-grid">
                  {{tile.text}}
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-actions">
    <div class="button-grid">
    <div></div>
    <button class="button" mat-stroked-button color="primary">Save</button>
    <button class="button" mat-stroked-button color="primary">Print</button>
  </div>
  </div>
</div>