<h2 mat-dialog-title>Select Item</h2>
<mat-dialog-content>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="searchProduct=''">
    <mat-icon>close</mat-icon>
  </button>

  <ngx-datatable id="table" class="dark" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns"
    [columnMode]="'flex'" [headerHeight]="40" [summaryRow]="false" [footerHeight]="40" [limit]="5" [rowHeight]="'auto'"
    [reorderable]="reorderable" (activate)="onActivate($event)" (keypress)="onKeypress($event)" (select)='onSelect($event)' style="width:100%">


    <ngx-datatable-column name="Sl No." [flexGrow]="50">
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
        {{row.SerialNumber}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Product Code" [flexGrow]="50">
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
        {{row.ProductCode}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Product Name" [flexGrow]="100">
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
        {{row.ProductName}}
      </ng-template>
    </ngx-datatable-column>



  </ngx-datatable>



  <!-- <mat-table (keypress)="scroll($event)" id="{{tabid}}_view" [dataSource]="dataSource" class="product-list">
    <ng-container matColumnDef="slNo">
      <mat-header-cell style="width: 100px;" *matHeaderCellDef> Sl No. </mat-header-cell>
      <mat-cell style="width: 100px;" *matCellDef="let element"> {{element.SerialNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="code">
      <mat-header-cell style="width: 20px;" *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell style="width: 20px;" *matCellDef="let element">
        {{ element.ProductCode }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="productName">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.ProductName }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row [ngClass]="{'highlight': selectedRowIndex == row.SerialNumber}"
    (click)="selectedRow(row)" (keypress)="scroll($event)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator pageSize="100" showFirstLastButtons>
  </mat-paginator> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->