.product-list {
    /* height: calc(100vh - 400px); Want to change */
}

.mat-icon {
  color: white;
}

.mat-prefix-search {
  font-size: 18px;
  margin-bottom: -5px;
  vertical-align: bottom; 
}


.mat-dialog-content {
  max-height: unset !important;
}