
.item-input {
    background-color: inherit;
    height: 30px;
    border: transparent;
    width: 100%;
}

.sales-contianer {
    overflow: auto;
    height: 100%;
    width: 100%;
    display: table;
}

.table {
    display: table-row;
}

.table-container {
    display: table-cell;
}

.mat-header-cell:nth-child(1), .mat-cell:nth-child(1) {
    flex: 0 0 40px;
    justify-content: center;
}

.mat-header-cell:nth-child(2), .mat-cell:nth-child(2) {
    flex: 0 0 120px;
    justify-content: center;
}

.mat-header-cell:nth-child(3), .mat-cell:nth-child(3) {
    justify-content: center;
}

.mat-header-cell:nth-child(4), .mat-cell:nth-child(4) {
    flex: 0 0 60px;
    justify-content: center;
}

.mat-header-cell:nth-child(5), .mat-cell:nth-child(5) {
    flex: 0 0 50px;
    justify-content: center;
}

.mat-header-cell:nth-child(6), .mat-cell:nth-child(6) {
    flex: 0 0 50px;
    justify-content: center;
}

.mat-header-cell:nth-child(7), .mat-cell:nth-child(7) {
    flex: 0 0 80px;
    justify-content: center;
}

.mat-header-cell:nth-child(8), .mat-cell:nth-child(8) {
    flex: 0 0 80px;
    justify-content: center;
}

.mat-header-cell:nth-child(9), .mat-cell:nth-child(9) {
    flex: 0 0 80px;
    justify-content: center;
}

.qty-input {
    text-align: center;
}

.top-banner-row {
    height: 100px;
    display: table-row;
}

.row1 {
    display: table;
    height: 30px;
}

.column1 {
    display: table-cell;
    vertical-align: middle;
}

.top-banner-cell {
    display: table-cell;
    height: 110px;
}

.bottom-banner-row {
    display: table-row;
}

.bottom-banner-cell {
    display: table-cell;
    height: 80px;
}

.bottom-banner-row2 {
    float: right;
    display: table;
}

.bottom-banner-column1 {
    width: 100%;
}

.bottom-banner-column2 {
    width: 550px;
}

.mat-card {
    /* height: 100%; */
    color: white;
    background-color: #2D2D2D;
}

.text-inside-grid {
    width: 100%; 
    text-align: right;
}