
.item-input {
    background-color: inherit;
    height: 30px;
    border: transparent;
    width: 100%;
}

/* .table-cell-width {
    width: 120px;
} */
.sales-contianer {
    /* display: flex; */
    /* padding: 15px; */
    overflow: auto;
    height: 100%;
    width: 100%;
    display: table;
}

.table {
    display: table-row;
}

.table-container {
    display: table-cell;
}

.rate {
    display: table-row;
}

.mat-header-cell:nth-child(1), .mat-cell:nth-child(1) {
    flex: 0 0 40px;
    justify-content: center;
}

.mat-header-cell:nth-child(2), .mat-cell:nth-child(2) {
    flex: 0 0 120px;
    justify-content: center;
}

.mat-header-cell:nth-child(3), .mat-cell:nth-child(3) {
    /* flex: 0 0 100px; */
    justify-content: center;
}

.mat-header-cell:nth-child(4), .mat-cell:nth-child(4) {
    flex: 0 0 60px;
    justify-content: center;
}

.mat-header-cell:nth-child(5), .mat-cell:nth-child(5) {
    flex: 0 0 50px;
    justify-content: center;
}

.mat-header-cell:nth-child(6), .mat-cell:nth-child(6) {
    flex: 0 0 50px;
    justify-content: center;
}

.mat-header-cell:nth-child(7), .mat-cell:nth-child(7) {
    flex: 0 0 80px;
    justify-content: center;
}

.mat-header-cell:nth-child(8), .mat-cell:nth-child(8) {
    flex: 0 0 80px;
    justify-content: center;
}

.mat-header-cell:nth-child(9), .mat-cell:nth-child(9) {
    flex: 0 0 80px;
    justify-content: center;
}

.qty-input {
    text-align: center;
}

.rate-card {
    display: table-cell;
    height: 80px;
}

.mat-card {
    height: 100%;
}