<div class="sales-contianer mat-elevation-z8">

  <mat-table id="{{tabid}}_view" [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="slNo">
      <mat-header-cell style="width: 100px;" *matHeaderCellDef> Sl No. </mat-header-cell>
      <mat-cell style="width: 100px;" *matCellDef="let element"> {{element.SerialNumber}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="code">
      <mat-header-cell style="width: 20px;" *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell style="width: 20px;" *matCellDef="let element">
        <input autofocus (keyup.enter)="openProducts()" class="item-input" matInput [value]="element !== undefined &&  element.ProductCode"
          [(ngModel)]="element !== undefined && element.ProductCode">
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="productName">
      <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <input (keyup.enter)="openProducts()" class="item-input" matInput [value]="element !== undefined && element.ProductName"
          [(ngModel)]="element !== undefined && element.ProductName">
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="qty">
      <mat-header-cell style="width: 100px;" *matHeaderCellDef> Qty </mat-header-cell>
      <mat-cell style="width: 100px;" *matCellDef="let element"> 
        <input (keyup.enter)="addProduct()" class="qty-input item-input" #qtyInput matInput [value]="element !== undefined && element.qty"
          [(ngModel)]="element !== undefined && element.qty">
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="free">
      <mat-header-cell style="width: 100px;" *matHeaderCellDef> Free </mat-header-cell>
      <mat-cell style="width: 100px;" *matCellDef="let element"> {{element.free}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tax">
      <mat-header-cell style="width: 100px;" *matHeaderCellDef> Tax </mat-header-cell>
      <mat-cell style="width: 100px;" *matCellDef="let element"> {{element.tax}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="mrp">
      <mat-header-cell style="width: 100px;" *matHeaderCellDef> MRP </mat-header-cell>
      <mat-cell style="width: 100px;" *matCellDef="let element"> {{element.mrp}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <mat-header-cell style="width: 100px;" *matHeaderCellDef> Unit Price </mat-header-cell>
      <mat-cell style="width: 100px;" *matCellDef="let element"> {{element.unitPrice}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="netAmount">
      <mat-header-cell style="width: 100px;" *matHeaderCellDef> Net Amount </mat-header-cell>
      <mat-cell style="width: 100px;" *matCellDef="let element"> {{element.netAmount}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>