body {
    background-color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    /* height: 100%; */
}

.basic-container {
    padding: 0 !important;
    display: table;
    height: 100vh;
    width: 100vw;
}
.mat-tab-label:last-child {
    min-width: unset !important;
}

.mat-tab-label {
    opacity: unset !important;
}

.mat-tab-body-wrapper {
    background-color: #1e1e1e;
}

.mat-tab-group {
    height: 100%;
}

.main-content .mat-tab-group {
    display: flex;
    flex-direction: row !important;
}

.main-content .mat-tab-header {
  border-bottom: none;
  background-color: #333333;
  border-right: 1px solid rgba(0,0,0,.12);
}

.main-content .mat-tab-labels {
    flex-direction: column;
}
.main-content .mat-ink-bar {
     height: unset;
     background-color: #fff !important;
}

.main-content .mat-tab-body-wrapper {
    flex: 1 1 auto;
}

.bill-container .mat-tab-labels {
    flex-direction: row;
}

.bill-container .mat-tab-group {
    display: flex;
    flex-direction: column !important;
}

.bill-container .mat-ink-bar {
    height: 2px;
    background-color: #fff !important;
}

.bill-container .mat-tab-header {
    border-bottom: 1px solid rgba(0,0,0,.12);
    background-color: #2d2d2d;
}

.main-content .mat-tab-label.mat-tab-label-active {
    border-right: 2px solid rgb(255, 255, 255);
}
  
.bill-container .mat-tab-label.mat-tab-label-active {
    border-right: 2px solid rgba(37, 0, 173, 0);
}

.main-content .mat-tab-label-content {
    transform: rotate(-90deg);
    color: white;
}

.main-content .mat-tab-label {
    height: 150px;
    width: 30px;
    min-width: unset;
    padding: unset;
}

.bill-container .mat-tab-label-content {
    transform: rotate(0deg)
}

.bill-container .mat-tab-label {
    height: 30px;
    width: unset;
    min-width: 160px;
    padding: 0 24px;
} 

.mat-dialog-container {
    background-color: #1E1E1E !important;
  }

  .mat-dialog-title {
      color: white;
  }

/* MAT-TABLE */
.mat-table { 
    background-color: #333333 !important; 
    overflow: auto !important;
    width: 100%;
    height: calc(100% - 7px);
}

.mat-cell, .mat-footer-cell, .mat-header-cell { 
    padding-left: 0.50rem !important; 
    padding-right: 0.50rem !important; 
}

.mat-header-cell {
    background-color: #3c3c3c;
    color: white !important;
    border-right: 1px solid #fff;
    height: 100%;
    justify-content: center;
}

.mat-cell:first-of-type, .mat-footer-cell:first-of-type, .mat-header-cell:first-of-type {
    /* padding-left: unset; */
}

.mat-cell:last-of-type, .mat-footer-cell:last-of-type, .mat-header-cell:last-of-type {
    /* padding-right: unset; */
}

.mat-header-row {
    min-height: unset;
    height: 30px;
}

.mat-cell {
    border-right: 1px solid grey;
    color: white !important;
    height: 100%;
}
  
.mat-row {
    height: 30px;
    min-height: unset;
}

.mat-row:hover {
    background-color: #2D2D2D;
}

.mat-paginator {
 background-color: #3c3c3c !important;
 color: white !important;
}


::-webkit-scrollbar {width: 8px; height: 4px; background: #424242; }
::-webkit-scrollbar-track { background-color: #8d8d8d; }
::-webkit-scrollbar-thumb { background-color: #2e2e2e; }
::-webkit-scrollbar-thumb:hover { background-color: #1f1f1f; }

/* MAT-INPUT */
.mat-input-element {
    color: white !important;
}

.mat-form-field-underline {
    background-color: white !important;
}
  
.mat-form-field-ripple {
    background-color: white !important;
}
  
.mat-form-field-label {
    color: rgb(114, 114, 114) !important;
}
/* MAT-INPUT */

.mat-button {
    color: white !important;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.mat-datepicker-content .mat-calendar {
    width: auto !important;
    height: auto !important;
    
}
.mat-datepicker-content  {
    background: #2D2D2D !important;
}

.mat-calendar-header {
    padding: 0 8px 0 8px !important;
}

.mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
    color: rgba(255, 255, 255, 0.54) !important;
}

.mat-calendar-arrow {
    border-top-color: rgba(255, 255, 255, 0.54) !important;
}

.mat-calendar-table-header {
    color: rgba(255, 255, 255, 0.38) !important;
}

.mat-calendar-body-label {
    color: rgba(255, 255, 255, 0.54) !important;
}

.mat-calendar-body-cell-content {
    color: rgba(255, 255, 255, 0.87) !important;
    border-color: transparent;
}

.mat-calendar-table-header-divider::after {
    background: rgba(255, 255, 255, 0.12) !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: rgba(255, 255, 255, 0.38) !important;
}

.mat-calendar-body-selected {
    background-color: rgb(114, 114, 114) !important;
}

/* Mat-Form-Field */
.mat-form-field {
    display: unset !important;
}

.custom-form-feild .mat-form-field-infix {
    border-top: unset !important;
    padding: unset !important;
    width: unset !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 1px !important;
}

.mat-form-field-wrapper {
    padding-bottom: unset !important;
}

.custom-form-feild .mat-form-field-appearance-legacy .mat-form-field-label {
    top: 0.8em !important;
}


/* Mat-Form-Field */

/* Select */

.mat-select-panel  {
    background: #2D2D2D !important;
}

.mat-select-value {
    color: rgba(255, 255, 255, 0.87) !important;
}

.mat-option {
    color: rgba(255, 255, 255, 0.87) !important;
}
.mat-select-arrow {
    color: rgba(255, 255, 255, 0.54) !important;
}

.mat-input-element {
    caret-color:  rgba(255, 255, 255, 0.87) !important;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    line-height: 2em !important;
    height: 2em !important;
}