<div class="product-contianer mat-elevation-z8">
  <div class="top-banner-row">
    <div class="top-banner-cell">
      <mat-card style="margin-bottom: 7px">
        <div class="grid-container">
          <div>
            Barcode.:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Product Name:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Group:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
            Code:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Suplier:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Company:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
        </div>
      </mat-card>

      <mat-card>
        <div class="price-grid-container">
          <div class="price-label">
            MRP
          </div>
          <div>
          </div>
          <div>
            Margin %
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            MRP%:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Sell Ex. Tax:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Inc. Tax Price:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Net Sell:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            R.Mar%:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div class="price-label">
            CCP
          </div>
          <div>
          </div>
          <div>
            Margin %
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            MRP%:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Sell Ex. Tax:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Inc. Tax Price:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Net Sell:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            R.Mar%:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div class="price-label">
            WP
          </div>
          <div>
          </div>
          <div>
            Margin %
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            MRP%:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Sell Ex. Tax:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Inc. Tax Price:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            Net Sell:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
          <div>
          </div>
          <div>
            R.Mar%:
          </div>
          <div>
            <mat-form-field class="custom-form-feild">
              <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                [(ngModel)]="filterValue" autocomplete="off">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <div class="bottom-grid-container">
        <mat-card>
          <div class="tax-grid-container">
            <div>
              Tax%:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              L.Cost:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              <mat-checkbox>Row Material</mat-checkbox>
            </div>
            <div>
              Pur.Price:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              MRP:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              <mat-checkbox>Lock</mat-checkbox>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div class="part-grid-container">
            <div>
              Part No:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              Description:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <textarea matInput></textarea>
              </mat-form-field>
            </div>
            <div>
              Expense:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div class="order-grid-container">
            <div>
              Min.Order Qty:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              Bin Location:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>

            <div>
              Min Stock Notify:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              Flash Notes:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>

          </div>
        </mat-card>
        <mat-card style="grid-area: setStockArea">
          <div class="stock-grid-container">
            <div>
              Open Stock:
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div>
            </div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div></div>
            <div>
              <mat-form-field class="custom-form-feild">
                <input matInput id="searchInput" (keydown)="onKeydown($event)" (keyup)="onKeyup($event)"
                  [(ngModel)]="filterValue" autocomplete="off">
              </mat-form-field>
            </div>
            <div></div>
            <div>
              <button class="button" mat-stroked-button color="primary">Set Stock</button>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>

  <div class="bottom-actions">
      <div class="button-grid">
        <div>
          <button class="button" mat-stroked-button color="primary">New</button>
          <button class="button" mat-stroked-button color="primary">Save</button>
          <button class="button" mat-stroked-button color="primary">Modify</button>
          <button class="button" mat-stroked-button color="primary">Delete</button>
          <button class="button" mat-stroked-button color="primary">Search</button>
          <button class="button" mat-stroked-button color="primary">Preview</button>
          <button class="button" mat-stroked-button color="primary">Refresh</button>
          <button class="button" mat-stroked-button color="primary">Print</button>
          <button class="button" mat-stroked-button color="primary">Close</button>
        </div>
      </div>
    </div>
</div>