
<div class="container">
  <div class="content">
    <div class="main-content">
      <mat-tab-group [selectedIndex]="selected.value" (selectedTabChange)="onTabChange($event)" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab *ngFor="let tab of tabs; let index = index">
          <ng-template mat-tab-label>
            {{ tab.title }}
            <!-- <mat-icon class="tab-icon-close" (click)="removeTab(index)">clear</mat-icon> -->
          </ng-template>
          <mat-progress-spinner *ngIf="showSpinner" class="example-margin" color="primary" mode="indeterminate" value="50">
          </mat-progress-spinner>
          <router-outlet  *ngIf="!showSpinner"></router-outlet>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>